.carousel,
.box {
  width: 80vw;
  min-width: 200px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.box {
  margin-left: 40px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}
.box img[data-active="true"] {
  opacity: 1;
}
.box img[data-active="false"] {
  opacity: 0;
}
.app img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: 200px;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s linear;
}

.next,
.prev {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 99;
}
.next {
  top: 50%;
  right: -65px;
}
.prev {
  top: 50%;
}

.show,
.showL {
  animation: showAnimation 1s ease-in-out forwards;
  z-index: 3;
  opacity: 1 !important;
}
.showL {
  animation: showAnimationLeft 1s ease-in-out forwards !important;
}
.hide,
.hideL {
  animation: hideAnimation 1s ease-in-out forwards;
  z-index: 2;
  opacity: 0;
}
.hideL {
  animation: hideAnimationLeft 1s ease-in-out forwards;
}

@keyframes showAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes showAnimationLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hideAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes hideAnimationLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
