[data-theme="light"]{
  --bg-color:#fff;
  --text-color:#333;
  --heading-color:#333;
}

[data-theme="dark"]{
  --bg-color:#333;
  --text-color:white;
  --heading-color:#dddddd;
}

body{
  margin: 0;
  padding: 0 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page{
  display: flex;
  flex-direction: column;
  height: 90vh;
}

nav{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div{
  display: flex;
  gap: 20px;
}

nav a{
  text-decoration: underline;
  color: inherit;
}

.mode-switch label{
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.mode-switch .slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.mode-switch input:checked+ .slider{
  background-color: #2196f3;
}

.mode-switch .slider:before{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before{
  transform: translateX(20px);
}