  .stepper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .step{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .step-number{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .step-name{
    font-size: 14px;
  }

  .active .step-number{
    background-color: #007bff;
    color: white;
  }

  .complete .step-number{
    background-color: green;
    color: white;
  }

  .progress-bar{
    position: absolute;
    top: 25%;
    left: 0;
    height: 4px;
    background-color: grey;
  }

  .progress{
    height: 100%;
    background-color: green;
    transition: 0.4s ease;
  }